body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}

a {
    color: rgb(255, 0, 50);
}

a:hover {
    color: rgb(0, 102, 255);
}

header{
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 2px solid rgb(240, 30, 255);
}

header h1 {
    font-size: 2em;
}

header nav ul Li {
    display: inLine;
}

.clear {
    clear: both;
}

#projects, #aboutme {
    margin: 0 auto; 
    width: 90%;
    max-width: 600 px;
}

.project {
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(0, 174, 255);
}

.project img {
    width: 300px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

.app img {
    width: 300px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 60px;
}

#aboutme img {
    width: 700px;
    float: bottom;
    float: left;
    margin-bottom: 10px;
}

#aboutme img.resize {
      max-width:70%;
      max-height:70%;
}

.project h2, #aboutme h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#aboutme h4 {
    font-size: 1em;
}
.bold {
    font-weight: bold;
}

.move {
    float: right;
}
